<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding" allowCookies="true"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <security mode="Transport"/>
        </binding>       
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://login.salesforce.com/services/Soap/c/37.0" binding="basicHttpBinding" bindingConfiguration="SoapBinding" contract="MetaDataSV.Soap" name="Soap"/>
    </client>
  </system.serviceModel>
</configuration>
