<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NUnit" version="3.8.1" targetFramework="net461" />
  <package id="Serilog" version="2.6.0-dev-00894" targetFramework="net461" />
  <package id="Serilog.Sinks.ColoredConsole" version="3.0.1" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.1-dev-00757" targetFramework="net461" />
</packages>